@page
@model SecureTodoList.Web.Pages.Todo.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h3>Add an item</h3>

    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Title</label>
                <input class="form-control" asp-for="NewItem.Title" />
                <span class="text-danger" asp-validation-for="NewItem.Title"></span>
            </div>

            <div class="form-group">
                <label>Due Date (DD/MM/YYYY)</label>
                <input class="form-control" asp-for="NewItem.DueDate" />
                <span class="text-danger" asp-validation-for="NewItem.DueDate"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

