@page
@model SecureTodoList.Web.Pages.Todo.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>My Todo List</h1>

@if (Model.TodoItems.Count > 0)
{
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TodoItems)
            {
                <tr>
                    <td>
                        <form method="post">
                            <button asp-page-handler="MarkDone" asp-route-itemId="@item.Id" class="btn btn-danger btn-sm">x</button>
                        </form>
                    </td>
                    <td>@Html.DisplayFor(m => item.Title)</td>
                    <td>@Html.DisplayFor(m => item.DueDate)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
else
{
<div class="container">
    <h3>There are no items yet!</h3>
</div>
}